<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-conference-heading">Create or edit a Conference</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!conference.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="conference.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="conference.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="conference.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_technology">Technology</label>
                    <input type="text" class="form-control" name="technology" id="field_technology"
                        [(ngModel)]="conference.technology" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_capacity">Capacity</label>
                    <input type="number" class="form-control" name="capacity" id="field_capacity"
                        [(ngModel)]="conference.capacity" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
