<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ticket-heading">Create or edit a Ticket</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ticket.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ticket.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="ticket.type" id="field_type" >
                        <option value="BLIND">BLIND</option>
                        <option value="EARLY_BIRD">EARLY_BIRD</option>
                        <option value="REGULAR">REGULAR</option>
                        <option value="VIP">VIP</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="ticket.price" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
