<div>
    <h2 id="page-heading">
        <span>Tickets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ticket" [routerLink]="['/ticket/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Ticket
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tickets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Price</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['/ticket', ticket.id, 'view' ]">{{ticket.id}}</a></td>
                <td>{{ticket.type}}</td>
                <td>{{ticket.price}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ticket', ticket.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ticket', ticket.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ticket', { outlets: { popup: ticket.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
